{:db/id #db/id[:db.part/user -1]
 :model/type :user
 :model/id #uuid "0414e99d-7fca-411e-81ad-2952404bd5ef"
 :user/email "imaf@ke.com"
 :user/firstname "Ima"
 :user/lastname "Fake"}

{:db/id #db/id[:db.part/user -2]
 :model/type :user
 :model/id #uuid "809407e2-8ba4-4a73-9c2f-c5672797ea77"
 :user/email "imanotherf@ke.com"
 :user/firstname "Imanother"
 :user/lastname "Fake"}


{:db/id #db/id[:db.part/user]
 :model/type :todo
 :model/id #uuid "73d71c37-3b68-43d2-b71d-f913c8422450"
 :todo/user #db/id[:db.part/user -1]
 :todo/title "Write Datomic Talk!"
 :todo/status :todo.status/waiting}

{:db/id #db/id[:db.part/user]
 :model/type :todo
 :model/id #uuid "b4c89874-8abe-46d6-833a-a6d77452f682"
 :todo/user #db/id[:db.part/user -1]
 :todo/title "Give Datomic Talk!"
 :todo/status :todo.status/waiting}

{:db/id #db/id[:db.part/user]
 :model/type :todo
 :model/id #uuid "24bf6e42-dbe1-415b-ab23-400020870dcd"
 :todo/user #db/id[:db.part/user -2]
 :todo/title "Write Om-next Talk!"
 :todo/status :todo.status/waiting}

{:db/id #db/id[:db.part/user]
 :model/type :todo
 :model/id #uuid "2c179626-2080-4bdf-a551-39481acb21a7"
 :todo/user #db/id[:db.part/user -2]
 :todo/title "Give Om-next Talk!"
 :todo/status :todo.status/waiting}
